.title-line{
    height: 3rem;
    background: #ffffff;
    margin-left: -55px;
    margin-right: -55px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;

    padding-top: 5px;
    text-transform: uppercase;

}

.title-line h3 {
    color: #aec0c4;
  margin-left: 55px;

}

.fill-picture{
    object-fit: cover;
    transform: translateX(15%);
    height: 9rem;
    width: 100%;
}
.fill-picture:hover{
    transform: scale(1.07);
}
.cover-full{
    z-index: -1;
    position: fixed;
    background: linear-gradient(to right, #ffffff, #e4e5f3);
    top:0;
    height: 100%;
    width: 100%;
}
.pic-container{
    overflow: hidden;
    width: 80%;
}
#pic{
    width: 100%;
}
.popup{
    position: relative;
    bottom: 3em;
    height:3em;
    left:0;
    right:0;
}

.list-image {

    object-fit: cover;
    height: 210px;

    cursor: pointer;
    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
}

.page-title {
    text-align: center;
    margin-top: 7px;
    font-style: italic;
    font-weight: bold;
}

.image-container {
    cursor: pointer;
    width: 85%;
    overflow: hidden;
    box-shadow: 0 0 10px 2px #c9c9c9;

    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
}

.list-image:hover {
    -moz-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

@media only screen and (max-width: 1028px) {
    .list-image {
        width: 170px;
    }
}

@media only screen and (max-width: 766px) {
    .list-image {
        height: 150px;
    }
}

@media only screen and (max-width: 555px) {
    .list-image {
        height: 200px;
    }

}