<div class="cover-full"></div>
<div class="mt-3">
  <div *ngFor="let category of categories">
    <div class="container">
      <div *ngIf="imagesByCategory&&imagesByCategory[category.name]">
        <div *ngIf="!!imagesByCategory[category.name].length">
          <div class="title-line ">
            <h3 >{{category.name}}</h3>
          </div>
          <div class="row my-2">
            <div class="col-4" *ngFor="let pic of imagesByCategory[category.name]">
              <div class="image-container">
                <img class="list-image" (click)="show(pic)" [src]="pic.filepath | imageLink">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-image-modal [img]="actualImg" [(visible)]="display"></app-image-modal>