<section class="ui-g">
  <div class="ui-g-12">
    <h2 class="page-title">A(z) {{category.name}} kategórába beküldött képek</h2>
    <p class="ui-g-12" *ngIf="!!category.description">{{category.description}}</p>
  </div>
  <div class="ui-g-12">
    <label class="ui-g-2" style="font-weight: bold">Szűrés művész szerint: </label>
    <p-dropdown [(ngModel)]="selectedUserId"
                [style]="{'width':'150px'}"
                [options]="userOptions "
                (onChange)="getFilteredData()"
    ></p-dropdown>

  </div>
  <div class="ui-g-12" *ngIf="!processing; else loading">
    <div *ngIf="!pictures.length">
      <p style="text-align: center; font-style: italic; color: gray">Nincsen ilyen kép...</p>
    </div>
    <div *ngFor="let pic of pictures"
         class="ui-g-4">
      <div class="ui-g-2"></div>
      <div class="ui-g-8  ui-g-nopad image-container">
        <img [src]="pic.filepath | imageLink" class="list-image" (click)="selectPhoto(pic)"></div>
    </div>
  </div>
  <ng-template #loading>Betöltés...</ng-template>
</section>

<app-image-modal [img]="selectedPhoto" [(visible)]="modelVisible"></app-image-modal>

<p-dialog [(visible)]="addDisplay" baseZIndex=2 positionTop="50" [width]="800" [modal]="true" [responsive]="true">
    <p-header>Reklám</p-header>
    <a [href]="!!add.link ? add.link : '#'"><img (click)="stepClick(add.id)" style="width: 100%;" [src]="add.filepath | imageLink"></a>
  </p-dialog>