.list-image {
    width: 100%;
    object-fit: cover;
    height: 200px;

    cursor: pointer;
    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
}

.page-title {
    text-align: center;
    margin-top: 7px;
    font-style: italic;
    font-weight: bold;
}

.image-container {
    cursor: pointer;

    overflow: hidden;
    box-shadow: 0 0 10px 2px #c9c9c9;

    -moz-transition: all 1.3s;
    -webkit-transition: all 1.3s;
    transition: all 1.3s;
}

.list-image:hover {
    -moz-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

@media only screen and (max-width: 1028px) {
    .list-image {
        width: 170px;
    }
}

@media only screen and (max-width: 766px) {
    .list-image {
        height: 150px;
    }
}

@media only screen and (max-width: 555px) {
    .list-image {
        height: 200px;
    }

}