<div class="ui-g-12">
  <h1 style="font-style: italic; font-weight: bolder; text-align: center; margin-bottom: 20px; padding: 5px; background-color: #f0f0f0"
      class="ui-g-12">Értékelés</h1>
  <label style="margin-right: 10px"><strong>Rendezés az alábbiak szerint:</strong></label>
  <p-dropdown [options]="optionsForSelect" [(ngModel)]="filterMode" (onChange)="fetchImages()"></p-dropdown>
  <hr>
  <div *ngFor="let picture of pictures; let i = index" class="ui-g-12" style="margin-bottom: 20px">
    <div class="row mt-2 mb-1">
      <div class="col-4">
        <img class="mh-100 mw-100 rounded leftimage" [src]="picture.filepath | imageLink">
      </div>
      <div class="col-4 bg-light">
        <p class="list-group-item active"><strong>Kategória</strong>: {{picture.category.name}}</p>
        <p class="list-group-item"><strong>Művésznév</strong>: {{picture.artist.username}}</p>
        <p class="list-group-item"><strong>Értékelésem</strong>:
          <span *ngIf="picture.revision.value;else none">{{picture.revision.value}}/10</span>
          <ng-template #none class="text-info">Még nincs értékelve</ng-template>
        </p>
        <p class="list-group-item" *ngIf="picture.title"><strong>Cím</strong>: {{picture.title}}</p>
        <!--    <p class="list-group-item"><strong>Megtekintések</strong>:{{picture.viewed}}</p> -->
        <p class="list-group-item" *ngIf="picture.description"><strong>Leírás</strong>: {{picture.description}}</p>
        <p class="list-group-item"><strong>Feltöltve</strong>: {{picture.created_at}}</p>
        <p class="list-group-item"><strong>Megtekintve</strong>: {{picture.visited}}</p>
        <p class="list-group-item"><strong>Ennyiszer értékelték:</strong> {{picture.reviewed}}</p>
        <p class="list-group-item"><strong>Látogatói likeok száma:</strong> {{picture.liked}}</p>
      </div>
      <div class="col-4 list-group" style="border: 2px solid lightgray; padding: 7px">
        <p class="ui-g-3" style="margin-bottom: -15px">Értékelés</p>
        <div class="ui-g-12">
          <p-rating [(ngModel)]="picture.revision.value" [stars]="10" class="ui-rating-star"
                    [cancel]="false"></p-rating>
        </div>
        <div class="ui-g-12">
          <p>Részlet kijelölése <span style="font-size: small; color: gray">(nem kötelező)</span>
          </p>
          <div class="img-container" *ngIf="!!picture.revision.file_path" style="margin-bottom: 10px">
            <img   class="img-thumbnail" [src]="picture.revision.file_path | imageLink">
          </div>
          <button class="btn btn-outline-primary" (click)="startEditor(picture.filepath, i)">
            <span *ngIf="!!picture.revision.file_path">Új kijelölése</span>
            <span *ngIf="!picture.revision.file_path">Kijelölése</span>
          </button>
        </div>
        <div>
          <label for="comment">Megjegyzés
            <small>(nem kötelező)</small>
          </label>
          <textarea pInputTextarea
                    id="comment"
                    type="text"
                    [(ngModel)]="picture.revision.description"
                    placeholder="Komment"
                    class="form-control ui-inputtextarea"></textarea>
        </div>
        <div class="inline mt-3">
          <button class="btn btn-danger w-auto mx-3" (click)="confirm(picture)">Kizárás</button>
          <button *ngIf="!picture.revision.id" class="btn btn-primary float-right w-auto mx-3"
                  (click)="save(picture.revision, picture.id, i)">Értékelem!
          </button>
          <button *ngIf="!!picture.revision.id" class="btn btn-warning float-right w-auto mx-3"
                  (click)="updateRevision(picture.revision)">Módosítom!
          </button>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<p-confirmDialog header="Kizárás megerősítése" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" class="ui-button-danger" pButton icon="pi pi-check" label="Igen"
            (click)="cd.accept()"></button>
    <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Nem"
            (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>

<app-photo-editor [photoPath]="picturePath" [(visible)]="editorVisible" (onFileUploaded)="partUpdated($event)"></app-photo-editor>
