<p-dialog [(visible)]="visible" [width]="800" (onHide)="onHide()" [modal]="true">
  <p-header>
    <button class="btn" [ngClass]="{'btn-primary': !isAlreadyLiked, 'btn-success': isAlreadyLiked}" *ngIf="!isLoggedIn" (click)="likeImage()">
      <i class="material-icons">
      thumb_up
    </i></button>
  </p-header>
  <p *ngIf="img.title" style="text-align: center; font-style: italic; margin-bottom: 2px"><strong>{{img.title}}</strong>
  </p>
  <div style="overflow: hidden;">
    <img id="pic" [src]="img.filepath | imageLink">
    <div class="popup">
      <div class="row">
        <div *ngIf="img.description" class="col-4 text-warning bg-secondary rounded">
          <p>{{img.description}}</p>
        </div>
        <div class="col-4"></div>
        <div class="col-4 bg-warning text-success rounded">
          <p *ngIf="!!img.artist">{{img.artist.username}}</p>
        </div>
      </div>
    </div>
  </div>
</p-dialog>