<div class="row">

  <div class="col-8 mx-auto">
    Belépés: tamas / asd (admin)
    A jelszómindenhol asd.
    <form #form="ngForm" (ngSubmit)="form.form.valid && onSubmit()">
      <div class="form-group my-2">
        <label for="user">Felhasználónév</label><br>
        <input class="form-control"
               id="user"
               name="name"
               type="text"
               pInputText
               [class.missing]="form.submitted && !credentials.username"
               placeholder="Felhasználónév"
               [(ngModel)]="credentials.username"
        >
      </div>
      <div class="form-group ">
        <label for="password">Jelszó</label><br>
        <input id="password"
               type="password"
               name="formPassword"
               class="form-control"
               [(ngModel)]="credentials.password"
               [class.missing]="form.submitted && !credentials.password"
               pInputText
               placeholder="Jelszó">
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Belépés! <i class="material-icons align-middle">input</i></button>
      </div>
    </form>
  </div>
</div>

