<p-menubar [model]="items">
  <button *ngIf="isLoggedIn" class="btn btn-primary" label="" (click)="logout()" icon="fa fa-sign-out">Kilépés <i
      class="material-icons align-middle">forward</i></button>
  <button *ngIf="user.permission===3||changePermission>0" class="mr-2 btn btn-primary btn-sm float-left"
          (click)="type='Admin';fromAdmin(3)">Admin
  </button>
  <button *ngIf="user.permission===3||changePermission>0" class="mr-2 btn btn-success btn-sm float-left"
          (click)="type='Zsűri';fromAdmin(2)">Zsűri
  </button>
  <button *ngIf="user.permission===3||changePermission>0" class="mr-3 btn btn-info btn-sm float-left"
          (click)="type='Fotós';fromAdmin(1)">Fotós
  </button>
  <div style="float: left; margin-right: 20px; margin-top: 6px" *ngIf="isLoggedIn">Belépve mint: {{user.username}}
    ({{user.name}})
  </div>
</p-menubar>

<main>
  <router-outlet></router-outlet>
</main>

<p-toast></p-toast>

<footer>
  <hr>
</footer>