<p-dialog [(visible)]="isVisible" (onHide)="closeWin()" [modal]="true">
  <div *ngIf="!!config">
    <ngx-image-editor
        [config]="config"
        (close)="close($event)"
        (file)="getEditedFile($event)">
    </ngx-image-editor>
  </div>
</p-dialog>
