<div class="container">
  <h1 style="font-style: italic; font-weight: bolder; text-align: center; padding: 5px; background-color: #f0f0f0"
      class="ui-g-12">Értékeléseim kategóriák szerint</h1>
  <div class="ui-g-12">
  </div>
  <div *ngIf="categories.length" class="ui-g-12">
    <div *ngFor="let cat of categories" class="ui-g-12">
      <p class="catname ui-g-12">{{cat.name}}</p>
      <div *ngIf="!myImagesByCat[cat.name]">
        <p style="text-align: center; color: gray; font-style: italic">
          Még nem értékelt képet ebből a ketgóriából!
        </p>
      </div>
      <div class="ui-g-4" *ngFor="let pic of myImagesByCat[cat.name]">
        <div>
          <img style="width: 100%" [src]="pic.filepath | imageLink">
        </div>
      </div>
    </div>
  </div>
</div>
