<div class="ui-g-12">
  <h1 style="font-style: italic; font-weight: bolder; text-align: center; margin-bottom: 20px; padding: 5px; background-color: #f0f0f0"
      class="ui-g-12">Képek</h1>
  <label style="margin-right: 10px"><strong>Rendezés az alábbiak szerint:</strong></label>
  <p-dropdown [options]="optionsForSelect" [(ngModel)]="filterMode" (onChange)="fetchImages()"></p-dropdown>
  <hr>
  <div *ngFor="let picture of pictures; let i = index" class="ui-g-4" style="margin-bottom: 20px">
    <div>
      <p>Átlagértékelés: {{picture.avgScore}}</p>
    </div>
    <div class="ui-g-12">
      <img style="width: 80%; object-fit: cover;cursor: pointer;height: 200px" class="img-thumbnail"
           [src]="picture.filepath | imageLink"
           (click)="clickOnImg(picture)"
      >
    </div>
  </div>
</div>

<app-image-modal [img]="actualImg" [(visible)]="modalVisible"></app-image-modal>