<div class="container row" *ngIf="!full; else warning">
  <div class="col-4" style="margin-top: 20px">
    <div class="form-group">
      <label class="col-12">Kategória</label>
      <p-dropdown
          [style]="{'width': '100%'}"
          [options]="categoryOptions"
          [(ngModel)]="image.category_id"></p-dropdown>
    </div>
    <div class="form-group">
      <label class="col-12">Cím: <span style="color: gray; font-size: smaller">(nem kötelező)</span>
      </label>
      <input
          type="text"
          placeholder="A kép címe"
          pInputText
          class="col-12"
          [(ngModel)]="image.title"
      />
    </div>
    <div class="form-group">
      <label for="desc" class="ui-g-12">Rövid leírás:<span style="color: gray; font-size: smaller">(nem kötelező)</span></label>
      <textarea
          id="desc"
          name="desc"
          style="width: 91%"
          pInputTextarea
          [style]="{'width': '120%'}"
          class="form-control"
          placeholder="Rövid leírás"
          [(ngModel)]="image.description"
      ></textarea>
    </div>
  </div>
  <div class="col-8" style="margin-top: 20px">
    <div class="form-group">
      <label class="ui-g-12">Kép feltöltése <span *ngIf="!!image.filepath" style="color: gray">(Másik képet feltölteni csak a már
        meglévő kép törlése után lehet)</span><span *ngIf="!image.filepath">(3 MB-nál nagyobb fájlt nem lehet feltölteni!)</span></label>
      <div class="ui-g-12" style="margin-top: -10px; margin-bottom: 10px; border: 1px solid darkgray"
           *ngIf="!!processValue">
        <p style="margin: 0 10px">{{processValue}}% A fájl feltöltése folyamatban...</p>
      </div>
      <div class="ui-g-2">
        <p-fileUpload name="newFile[]"
                      mode="basic"
                      [url]="uploadURL"
                      (onBeforeSend)="prepareUpload($event)"
                      (onProgress)="changeUploadProgress($event)"
                      (onUpload)="fileUploaded($event)"
                      accept="image/*"
                      [disabled]="!!image.filepath"
                      [multiple]="false"
                      [auto]="true"
                      chooseLabel="Feltöltés"
                      (onError)="fileError()"
                      maxFileSize="3145728"
        >
        </p-fileUpload>
      </div>
      <div class="ui-g-10">
        <button *ngIf="!!image.filepath" pButton class="ui-button-danger" label="Kép törlése" style="margin-left: 10px; margin-right: 20px"
                (click)="deleteTmpImg()"></button>
        <button *ngIf="!!image.filepath" pButton label="Kép vágása" class="ui-button-warning" (click)="showEditor()"></button>
      </div>
    </div>
    <div  class="ui-g-12" *ngIf="image.filepath && !!image.fileSize">Méret: {{image.fileSize}} MB</div>
    <div  class="ui-g-12" *ngIf="invalidSize">Egy kép mérete nem haladhatja meg a 2MB-ot. Kérem csökkentse a kép méretét!</div>
    <div class="py-2 picture-container" style="height:17rem; width: auto; max-width: 100%;">
      <div *ngIf="image.filepath" class="ui-g-12">
        <img [src]="image.filepath | imageLink" class="img-thumbnail limit" alt="">
      </div>
      <div *ngIf="!image.filepath" class="ui-g-12">
        <h2 class="text-info text-center mx-auto">Nincs megjeleníthető kép</h2>
      </div>
    </div>
  </div>
  <div class="ui-g-12" style="margin-left: 10px">
    <button class="ui-button-success" [disabled]="!image.filepath || !image.category_id || invalidSize" (click)="save()" class="btn btn-success">Mentés <i class="material-icons align-middle">photo</i></button>
    <button class="ui-button-secondary" *ngIf="isEditing" (click)="cancel()" label="Mégse" pButton></button>
  </div>
</div>
<ng-template #warning>
  <h1 style="text-align: center; margin-top: 10px; font-style: italic"><strong>Betelt a tárhely! Nem tud több képet feltölteni!</strong></h1>
</ng-template>
<app-photo-editor
    [(visible)]="editorVisible"
    [photoPath]="image.filepath"
    (onFileUploaded)="uploadedFile($event)"
></app-photo-editor>