<section class="ui-g">
  <h3 class="ui-g-12">Hirdetések kezelése</h3>
  <div class="ui-g-12">
    <button pButton (click)="showDialog()" icon="pi pi-plus" label="Hirdetés hozzáadása"></button>
  </div>

  <div class="ui-g-12">
    <div *ngFor="let a of ads" class="ui-g-3">
      <div class="ui-g-12" style="background-color: #eaebf9">
        <button pButton label="Módosít" (click)="startUpdate(a)" style="margin-right: 10px"></button>
        <button pButton (click)="confirmDelete(a.id)" label="Törlés" class="ui-button-danger"></button>
      </div>
      <p  class="ui-h-12" *ngIf="!!a.link"> Link: <a [href]="a.link">{{a.link}}</a></p>
      <p class="ui-g-12">Kattintások száma: {{a.clicked}} db</p>
      <div class="ui-g-12">
        <img [src]="a.filepath | imageLink" style="width: 100%">
      </div>
    </div>
  </div>
</section>

<p-dialog header="Új hirdetés hozzáadása"
          [modal]="true"
          [(visible)]="visible"
          [transitionOptions]="'10ms'"
          [responsive]="true"
          [width]="900"
          [height]="400">
  <div class="ui-dialog-content">
    <div class=" ui-g-12">
      <div class="ui-g-6">
        <div class="form-group">
          <label for="link" class="text-info">Link (nem kötelező)</label>
          <input type="text"
                 id="link"
                 name="link"
                 placeholder="Link"
                 pInputText
                 [(ngModel)]="ad.link"
                 class="form-control">
        </div>
        <div class="form-group">
          <label style="margin-right: 10px" class="ui-g-12">Kép:</label>
          <p-fileUpload name="newFile[]"
                        mode="basic"
                        [url]="uploadURL"
                        (onBeforeSend)="prepareUpload($event)"
                        (onUpload)="fileUploaded($event)"
                        accept="image/*"
                        [multiple]="false"
                        [auto]="true"
                        class="mx-auto"
                        chooseLabel="Feltöltés"
                        (onError)="fileError()"
                        maxFileSize="3145728"
          ></p-fileUpload>
        </div>
        <div *ngIf="!!ad.filepath" class="ui-g-12">
          <img style="width: 100%;"class="mh-100" [src]="ad.filepath | imageLink">
        </div>
      </div>
    </div>
    <p-footer>
  
      <button type="button" icon="pi pi-check" (click)="save()" style="margin-right: 5px" pButton
              label="Mentés"></button>
      <button type="button" icon="pi pi-times" label="Mégse" pButton class="ui-button-secondary"
              (click)="cancel()"></button>
    </p-footer>
  </div>
</p-dialog>


<p-confirmDialog header="Törlés megerősítése" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" class="ui-button-danger" pButton icon="pi pi-check" label="Igen"
            (click)="cd.accept()"></button>
    <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Nem"
            (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>