<div>
  <div class="icon mt-3">
    <div class="mx-auto">
      <div class="mx-auto align-self-center">
        <div *ngIf="!!user.logo_file_path">
          <img style="border-radius: 50%;" [src]="user.logo_file_path | imageLink">
        </div>
        <div *ngIf="!user.logo_file_path">
            NINCS LOGÓ
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="list-group">
      <div class="list-group-item pt-1 pb-0">
        <strong class="large d-inline mr-3">Logó:</strong>
          <p-fileUpload name="newFile[]"
                        mode="basic"
                        [url]="uploadURL"
                        (onBeforeSend)="prepareUpload($event)"
                        (onUpload)="fileUploaded($event)"
                        accept="image/*"
                        [multiple]="false"
                        [auto]="true"
                        class="align-middle d-inline"
                        chooseLabel="Feltöltés"
                        (onError)="fileError()"
                        maxFileSize="3145728"
          ></p-fileUpload>
        
      </div>
      <div class="list-group-item">
        <p><strong>Név:</strong> {{user.name}}</p>
      </div>
      <div class="list-group-item">
        <p><strong>Felhasználónév:</strong> {{user.username}}</p>
      </div>
      <div *ngIf="user.permission==1">
        <p class="list-group-item"><strong>Jogosultság:</strong> fotós</p>
      </div>
      <div *ngIf="user.permission==2">
        <p class="list-group-item"><strong>Jogosultság:</strong> zsűri</p>
      </div>
      <div *ngIf="user.permission==3">
        <p class="list-group-item"><strong>Jogosultság:</strong> admin</p>
      </div>
      <!--<div *ngIf="user.email;else none" s>
        <p class="list-group-item"><strong>Email:</strong> {{user.email}}</p>
      </div> -->
      <ng-template #none>
        <p class="list-group-item"><strong>Email:</strong><span class="text-info"> Még nem adott meg emailt</span></p>
      </ng-template>
    </div>
    <div class="btn-group">
      <button class="btn btn-success" (click)="showPassword()">Jelszó megváltoztatása</button>
    <!--  <button class="btn btn-succes" (click)="showEmail()">Email megadása</button> -->
    </div>
  </div>
</div>

<!--
<p-dialog header="E-mailcím megváltoztatása" [modal]=true [(visible)]="emailDisplay" [transitionOptions]="'10ms'"
          [responsive]="true" [width]="900">
  <div class="form-group">
    <label for="title" class="text-info">Email</label>
    <input type="email" id="title" name="title" style="width: 91%" placeholder="email" pInputText
           [(ngModel)]="tmpEmail">
  </div>
  <hr>
  <p-footer>
    <button type="button" icon="pi pi-check" (click)="onEmailSubmit()" style="margin-right: 5px" pButton
            label="Mentés"></button>
    <button type="button" icon="pi pi-times" label="Mégse" pButton class="ui-button-secondary"
            (click)="cancel()"></button>
  </p-footer>
</p-dialog>
-->

<p-dialog header="Jelszó megváltoztatása" [modal]=true [(visible)]="passwordDisplay" [transitionOptions]="'10ms'"
          [responsive]="true" [width]="900">
  <div class="form-group">
    <label for="opass" class="text-info">Eredeti jelszó</label>
    <input type="password" id="opass" name="original" class="form-control" placeholder="eredeti jelszó" pInputText
           [(ngModel)]="credentials.password">
  </div>
  <div class="form-group">
    <label for="npass" class="text-info">Új jelszó</label>
    <input type="password" id="npass" name="new" class="form-control" placeholder="új jelszó" pInputText
           [(ngModel)]="newPassword">
  </div>
  <div class="form-group">
    <label for="npassr" class="text-info">Új jelszó mégegyszer</label>
    <input type="password" id="npassr" name="newrepeat" class="form-control" placeholder="mégegyszer" pInputText
           [(ngModel)]="newPasswordRepeat">
  </div>
  <hr>
  <p-footer>
    <button type="button" icon="pi pi-check" (click)="onPasswodSubmit()" style="margin-right: 5px" pButton
            label="Mentés"></button>
    <button type="button" icon="pi pi-times" label="Mégse" pButton class="ui-button-secondary"
            (click)="cancel()"></button>
  </p-footer>
</p-dialog>