<div class="container">
  <h1 style="font-style: italic; font-weight: bolder; text-align: center; padding: 5px; background-color: #f0f0f0"
      class="ui-g-12">Képeim</h1>
  <div class="ui-g-12">
    <p>Feltöltött képek száma összesen: <strong>{{myPicNum}}/{{maxPicNum}}</strong> db</p>
    <p *ngIf="myPicNum === maxPicNum">
      <strong style="color: red">Betelt a tárhelyed! Több képet már nem tudsz feltölteni!</strong>
    </p>
  </div>
  <div *ngIf="categories.length" class="ui-g-12">
    <div *ngFor="let cat of categories" class="ui-g-12">
      <p class="ui-g-12 catname">{{cat.name}}</p>
      <p style="font-size: medium; color: gray">{{cat.description}}</p>
      <p *ngIf="myImagesByCat[cat.name] && !!myImagesByCat[cat.name].length">
        Feltöltött képek <strong>{{myImagesByCat[cat.name].length}}/3</strong> db.
        <span *ngIf="myImagesByCat[cat.name].length >= 3" style="font-weight: bolder">
          Ebbe a témakörbe már nem tölthetsz fel új képet!</span>
      </p>
      <hr>
      <div *ngIf="!myImagesByCat[cat.name]" style="text-align: center; font-style: italic">
        Ebbe a kategóriába még nem töltöttél fel képet!
      </div>
      <div *ngFor="let pic of myImagesByCat[cat.name]">
        <p class="ui-g-12" *ngIf="!!pic.refused_at" style="text-align: center; font-size: large">
          <strong>Ezt a KÉPET kizárták a versenyől. A helyére NEM lehet új képet feltenni.
          </strong></p>
        <div [ngClass]="{'refused': !!pic.refused_at}">
          <div class="ui-g-7">
            <div class="ui-g-12" *ngIf="!pic.refused_at">

              <button pButton icon="pi pi-check" label="Módosítás" (click)="updatePicture(pic.id)"></button>


              <button pButton icon="pi pi-times" label="Törlés" class="ui-button-danger"
                      (click)="confirmDelete(pic.id, cat.name)" style="margin-left: 10px"></button>
            </div>
            <img [src]="pic.filepath | imageLink" class="myimg img-thumbnail">
          </div>
          <div class="ui-g-5" style="margin-top: 35px">
            <p class="list-group-item list-group-item-info" *ngIf="!!pic.publicTime"><strong>Publikussá válik: </strong>
              <strong style="color: red">{{pic.publicTime}}</strong></p>
            <p class="list-group-item" *ngIf="!!pic.refused_at"><strong>Kizárva</strong>: {{pic.refused_at}}</p>
            <p class="list-group-item"><strong>Feltöltés dátuma</strong>: {{pic.created_at}}</p>
            <p class="list-group-item"><strong>Utoljára módosítva</strong>: {{pic.created_at}}</p>
            <p class="list-group-item"><strong>Megtekintések száma</strong>: {{pic.visited}}</p>
            <p class="list-group-item"><strong>Likeok száma</strong>: {{pic.liked}}</p>
            <p class="list-group-item" *ngIf="pic.title"><strong>Cím</strong>: {{pic.title}}</p>
            <p class="list-group-item" *ngIf="pic.description"><strong>Leírás</strong>: {{pic.description}}</p>
            <div class="list-group-item">
              <button  *ngIf="!!pic.revisions.length" type="button" class="btn btn-primary" (click)="op.toggle($event)">Értékelések megtekintése <i class="material-icons align-middle">info</i></button>
            <p *ngIf="!pic.revisions.length" style="font-style: italic; text-align: center">Még nem értékelte egy zsűri sem!</p>
            </div>

            <!--
              <p class="list-group-item" *ngIf="picture.score"><strong>Értékelés</strong>: {{picture.score}}/10</p>
              <p class="list-group-item" *ngIf="picture.title"><strong>Cím</strong>: {{picture.title}}</p>
              <p class="list-group-item" *ngIf="picture.viewed"><strong>Megtekintések</strong>: {{picture.viewed}}</p>
              <p class="list-group-item" *ngIf="picture.category"><strong>Kategória</strong>: {{picture.category}}</p>
              <p class="list-group-item" *ngIf="picture.description"><strong>Leírás</strong>: {{picture.description}}</p>
              <p class="list-group-item" *ngIf="picture.artist"><strong>művésznév</strong>: {{picture.artist}}</p>
        -->
            <p-overlayPanel #op>
              <div class="ui-g">
                <div *ngFor="let rev of pic.revisions; let j = index" class="ui-g-12">
                  <p class="list-group-item active">#{{j+1}}</p>
                  <p class="list-group-item"><strong>Zsűri neve:</strong> {{rev.user.name}}</p>
                  <p class="list-group-item"><strong>Értékelés:</strong>
                    <p-rating [ngModel]="rev.value" readonly="true" stars="10" [cancel]="false"></p-rating>
                  </p>
                  <div class="list-group-item ui-g-12" *ngIf="!!rev.file_path">
                    <div class="ui-g-2">
                      <strong>Kiemelt részlet:</strong>
                    </div>
                    <div class="ui-g-8">
                      <img style="text-align: center; height: 150px; width: 40%; object-fit: cover"
                              [src]="rev.file_path | imageLink" class="img-thumbnail">
                    </div>
                  </div>
                  <p class="list-group-item" *ngIf="!!rev.description"><strong>Komment:</strong>
                    {{rev.description}}
                  </p>
                </div>
              </div>
            </p-overlayPanel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Törlés megerősítése" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" class="ui-button-danger" pButton icon="pi pi-check" label="Igen"
            (click)="cd.accept()"></button>
    <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Nem"
            (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>