.myimg {
    object-fit: cover;
    height: 300px;
    width: 70%;
}

.catname {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin: 5px auto;
}

.refused {
    opacity: 0.70;
}