<div class="container">
  <div class="ui-g">
  <div class="ui-g-6">
    <h3 class="ui-g-12">Kategóriák</h3>
      <div class="ui-g-12">
        <button type="button" (click)="showDialog()" pButton icon="pi pi-plus" label="Új kategória">
        </button>
      </div>
      <div *ngIf="!!categories.length" class="ui-g-8">
        <ul class="list-group">
          <li *ngFor="let c of categories" class="list-group-item">
            <div class="ui-g-12">
              <div class="ui-g-6" style="margin-right: 10px">
                <button pButton icon="pi pi-check" label="Módosítás" (click)="changeCategory(c)"></button>
              </div>
              <div class="ui-g-5">
                <button pButton icon="pi pi-times" label="Törlés" class="ui-button-danger"
                        (click)="confirmDelete(c.id)"></button>
              </div>
            </div>
            <p style="text-align: center; margin: 0 10px; font-size: larger"><strong>{{c.name}}</strong></p>
            <p style="text-align: center;" *ngIf="c.description" class="list-group-item"><strong>Leírás:</strong>
              {{c.description}}</p>
            <p style="text-align: center; color: gray; font-size: small"><strong>Határidő: </strong>{{c.deadline}}</p>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="ui-g-5">
      <h3 class="ui-g-12">Felhasználók</h3>
      <div class="ui-g-12"><small>Alapértelmezetten a jelszó mindig '<strong>asd</strong>'.
        Az első bejelentkezés után a profil oldaon meg lehet változtatni.</small></div>
      <div class="ui-g-12">
        <button type="button" (click)="showAddArtist()" pButton icon="pi pi-plus" label="Új felhasználó hozzáadása">
        </button>
      </div>
      <div *ngIf="artists.length>0" class="ui-g-12">
        <ul class="list-group">
          <li *ngFor="let a of artists" class="list-group-item">
            <div *ngIf="a.permission!=3">
              <div class="ui-g-12">
                <div class="ui-g-6" style="margin-right: 10px">
                  <button pButton icon="pi pi-check" label="Módosítás" (click)="changeArtist(a)"></button>
                </div>
                <div class="ui-g-5">
                  <button pButton icon="pi pi-times" label="Törlés" class="ui-button-danger"
                          (click)="confirmDeleteArtist(a.id)"></button>
                </div>
              </div>
              <div class="ui-g-12">
                <p class="list-group-item large"><strong>Név:</strong> {{a.name}}</p>
                <p class="list-group-item"><strong>Felhasználónév:</strong>
                  {{a.username}}</p>
                <div *ngIf="a.permission==1">
                  <p class="list-group-item"><strong>Jogosultság:</strong> fotós</p>
                </div>
                <div *ngIf="a.permission==2">
                  <p class="list-group-item"><strong>Jogosultság:</strong> zsűri</p>
                </div>
                <p style="color: gray; font-size: small" class="list-group-item"><strong>Tagság:</strong> {{a.created_at}}
                  - óta</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<p-dialog header="Új felhasználó hozzáadása" [modal]=true [(visible)]="artistDisplay" [transitionOptions]="'10ms'"
          [responsive]="true" [width]="900">

  <div class=" ui-g-12">
    <div class="form-group">
      <label for="title" class="text-info">Név</label>
      <input type="text"  name="title" style="width: 91%" placeholder="Név" pInputText
             [(ngModel)]="artist.name"
             class="form-control">
    </div>
    <div class="form-group">
      <label for="desc" class="text-info">Felhasználónév</label>
      <input type="text"
             name="username" style="width: 91%" placeholder="Név" pInputText
             [(ngModel)]="artist.username"
             class="form-control">
    </div>
    <div class="form-group">
      <label>jogosultság</label>
      <p-dropdown appendTo="body" [style]="{'width': '100%'}" [options]="permissionOptions"
                  [(ngModel)]="artist.permission"></p-dropdown>
    </div>
  </div>
  <hr>
  <p-footer>
    <button type="button" icon="pi pi-check" (click)="onArtistSubmit()" style="margin-right: 5px" pButton
            label="Mentés"></button>
    <button type="button" icon="pi pi-times" label="Mégse" pButton class="ui-button-secondary"
            (click)="cancel()"></button>
  </p-footer>

</p-dialog>
<p-dialog header="Új kategória hozzáadása" [modal]="true" [(visible)]="display" [transitionOptions]="'10ms'"
          [responsive]="true"
          [width]="900" [height]="800">
  <div class=" ui-g-12">
    <div class="ui-g-6">
      <div class="form-group">
        <label for="title" class="text-info">Név</label>
        <input type="text" id="title" name="title" style="width: 91%" placeholder="Név" pInputText
               [(ngModel)]="category.name"
               class="form-control">
      </div>
      <div class="form-grouo">
        <label for="desc" class="text-info">Rövid leírás:
          <small>(nem kötelező)</small>
        </label>
        <textarea id="desc" name="description" style="width: 91%" placeholder="Rövid leírás"
                  class="textarea-alternate form-control mb-2"
                  [(ngModel)]="category.description"></textarea>
      </div>
    </div>
    <div class="ui-g-6">
      <div class="form-group">
        <label for="cal" class=" text-info ui-g-12" style="margin-bottom: -7px">Határidő megadása</label>
        <p-calendar id="cal" appendTo="body" [(ngModel)]="category.dateForCalendar" name="deadline"
                    [locale]="calendarLocale"
                    dateFormat="yy.mm.dd" [showTime]=true></p-calendar>
      </div>
    </div>
  </div>
  <hr>
  <p-footer>

    <button type="button" icon="pi pi-check" (click)="onSubmit()" style="margin-right: 5px" pButton
            label="Mentés"></button>
    <button type="button" icon="pi pi-times" label="Mégse" pButton class="ui-button-secondary"
            (click)="cancel()"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog header="Törlés megerősítése" icon="pi pi-exclamation-triangle" width="425" #cd>
  <p-footer>
    <button type="button" class="ui-button-danger" pButton icon="pi pi-check" label="Igen"
            (click)="cd.accept()"></button>
    <button type="button" class="ui-button-secondary" pButton icon="pi pi-times" label="Nem"
            (click)="cd.reject()"></button>
  </p-footer>
</p-confirmDialog>